html {
    max-width: 100%;
}
body {
    padding: 0;
    max-width: 100%;
    margin: 0;
    font-family: sans-serif;
}

hr {
    margin: 20px 0;
}

.spread-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
